@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

$primary-color: #0e46a3;
$secondary-color: #10439f;
$background-color: #333333;
$text-color: #faf9f6;
$font-family: "Oswald", sans-serif;

.oswald-main {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
